$color-primary: #404668;
$color-secondary: #5d6598;
$color-highlight: #444cf4;
$color-action: #4449b0;
$color-supplemental: #565862;
$color-danger: #e90071;
$color-placeholder: #a0aec0;
$color-bg-1: #f2f3f7;
$color-bg-2: #eff2f9;
$color-bg-special: #eeeffe;
$color-bg-footer: #131520;

$container-padding: 50px;
$login-margin: 45px;
$centre-margin: 50px;

$fade-duration: 0.4s;

$spinner-size: 60px;
