@import "../utilities/variables.scss";

.bubble {
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  background-color: $color-action;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  z-index: 1000 !important;
  &:hover {
    box-shadow: 0px 4px 19px rgba(64, 70, 104, 0.8);
  }
}

.contact-form {
  z-index: 1000 !important;
  animation: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  position: fixed;
  bottom: calc(20px + 64px + 20px);
  right: 20px;
  width: 350px;
  box-shadow: 0px 4px 19px rgba(64, 70, 104, 0.8);
  border-radius: 18px;
  background-color: white;
  &__main {
    padding: 40px 40px 0 40px;
    border-radius: 18px;
    h1 {
      color: $color-primary;
    }
    h1,
    p {
      margin-bottom: 40px;
      font-weight: 400;
    }
  }
  &__bottom {
    padding: 40px;
    background-color: $color-bg-2;
    border-radius: 0 0 18px 18px;
  }
}

.visible {
  opacity: 1;
  pointer-events: all;
}

@media only screen and (max-width: 650px) {
  .contact-form {
    width: 250px;
  }
}

@media only screen and (max-width: 400px) {
  .contact-form {
    width: 225px;
  }
}
