@import "../utilities/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

@font-face {
  font-family: "Euclid Circular A";
  src: url(../fonts/EuclidCircularA-Regular-WebTrial.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url(../fonts/EuclidCircularA-Medium-WebTrial.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url(../fonts/EuclidCircularA-Bold-WebTrial.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

// *,
// html,
// body {
//   margin: 0;
//   padding: 0;
//   font-family: "Manrope", sans-serif;
//   color: $color-body;
// }

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Euclid Circular A", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  // background-color: white;
  color: $color-secondary;
  animation: fadeIn ease-in-out $fade-duration;
  -webkit-animation: fadeIn ease-in-out $fade-duration;
  -moz-animation: fadeIn ease-in-out $fade-duration;
  -o-animation: fadeIn ease-in-out $fade-duration;
  -ms-animation: fadeIn ease-in-out $fade-duration;
}

.no-scroll {
  overflow: hidden;
  pointer-events: none;
}

body {
  background-color: white;
  max-width: 100vw;
  overscroll-behavior-y: none;
  pointer-events: all;
}

.btn {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  text-align: center;
  padding: 10px 20px;
  background-color: $color-action;
  color: white;
  // transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
  //   box-shadow 0.2s ease-in-out;
  &:hover {
    background-color: darken($color-action, 10%);
  }
  &--authentication {
    margin-bottom: 40px;
    width: 100%;
    padding: 20px;
    font-size: 1rem;
  }
  &--login {
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background-color: $color-supplemental;
    &:hover {
      background-color: darken($color-supplemental, 4%);
    }
  }
  &--search {
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    font-weight: 500;
    padding: 16px 32px;
    // height: 100%;
  }
  &--apply {
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background-color: white;
    color: $color-action;
    border: solid $color-action 1px;
    transform: translateY(50%);
    font-size: 1.25rem;
    padding: 10px 75px;
    // margin-top: -50%;
    margin-top: 24px;
    position: relative;
    // transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    svg {
      width: 24px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(-50%, -50%);
    }
    svg path {
      transition: fill 0.2s ease-in-out;
      fill: $color-action;
    }
    &:hover {
      background-color: $color-action;
      color: white;
      svg path {
        fill: white;
      }
    }
  }
  &--clear-filter {
    background-color: white;
    border: solid $color-action 1px;
    color: $color-action;
    &:hover {
      cursor: pointer;
      background-color: $color-bg-special;
    }
  }
  &--apply-filter {
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background-color: $color-action;
  }
  &--like {
    background-color: white !important;
    // color: none !important;
    margin: 20px 0;
    // background-color: white;
    // width: 28px;
    // height: 28px;
    // padding: 0;
    width: 36px;
    height: 36px;
    // padding: 10px;
    svg {
      width: 18px;
      // height: 16px;
    }
    padding: 0;
    border: solid $color-primary 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    svg path {
      transition: fill 0.2s ease-in-out;
    }
    &:hover,
    &:focus {
      outline: 0;
      border: solid $color-action 1px;
      // background-color: $color-highlight;
      svg path {
        stroke: $color-action;
      }
    }
    // &--liked {
    //   background-color: $color-action !important;
    //   svg path {
    //     fill: white !important;
    //   }
    // }
    // padding: 20px;
    // color: $color-action;
    // svg rect {
    //   stroke: $color-action;
    // }
    // svg path {
    //   fill: $color-action;
    // }
    // &:hover {
    //   // background-color: $color-highlight;
    //   // color: white;
    //   svg rect {
    //     stroke: $color-highlight;
    //   }
    //   // svg path {
    //   //   fill: $color-highlight;
    //   // }
    // }
  }
  &--contact {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
    text-decoration: none;
    svg {
      margin-left: 10px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .btn {
    &--search {
      margin-top: 20px;
      // margin-bottom: 120px;
      width: calc(100%);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
