@import "../utilities/variables.scss";

// $menu-size: 50px;

.active {
  .collapsible__links__link {
    // text-decoration: underline !important;
    color: $color-primary;
    // font-weight: bold;
  }
  .mobile-menu__links__link {
    // color: darken(white, 20%);
    font-weight: 500;
    color: $color-highlight;
    &:hover {
      color: darken($color-highlight, 4%) !important;
    }
  }
}

nav {
  z-index: 50 !important;
  // max-width: calc(100vw - 100px);
  max-width: 100vw;
  position: relative;
  // background-color: $bg-color-primary;
  font-weight: 500;
  margin: 0 !important;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .collapsible {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  ul.collapsible__links {
    animation: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
    margin: 0;
    align-items: center;
    li {
      // transition: color 0.2s ease-in-out;
      // display: inline-block;
      // margin-left: 40px;
      // width: 140px;
      // border: solid black 1px;
      // .links__github {

      // }
      // .links__github {
      //   width: 2000px;
      //   svg {
      //     // fill: white;
      //   }
      //   :hover {
      //     width: 1000px;
      //   }
      // }
      svg {
        width: 20px;
        height: 20px;
        // margin-right: 10px;
        transform: translateY(12.5%);
        // transform: translateY(50%);
        // position: relative;
        // top: 50%;
        // margin: 0;
        margin-right: 10px;
        // margin-top: 50%;
      }
      &:hover {
        cursor: pointer;
        transition: color 0.2s ease-in-out;
        color: $color-highlight;
        svg path {
          transition: fill 0.2s ease-in-out;
          fill: $color-highlight;
        }
        // background-color: yellow;
      }
    }
  }
}

.mobile-menu {
  animation: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  opacity: 0;
  // display: none;
  padding: 120px 0;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 4px 29px #404668;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  // z-index: 50;
  // z-index: 51;
  background-color: $color-bg-footer;
  // width: calc(100% - 40px);
  width: 100%;
  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    &__link {
      cursor: pointer;
      // transition: color 0.2s ease-in-out;
      &:hover,
      &:focus {
        transition: color 0.2s ease-in-out;
        color: darken(white, 20%);
        svg path {
          transition: fill 0.2s ease-in-out;
          fill: darken(white, 20%);
        }
      }
      // text-decoration: none !important;
      font-size: 1.5rem;
      display: inline-block;
      margin-bottom: 40px;
      color: white;
      display: flex;
      // flex-direction: column;
      align-items: center;
      svg {
        margin-right: 20px;
        // width: 16px;
        path {
          fill: white;
        }
      }
      &__logout {
        margin-bottom: 0;
        &:hover,
        &:focus {
          transition: color 0.2s ease-in-out;
          color: $color_danger;
          svg path {
            transition: fill 0.2s ease-in-out;
            fill: $color_danger;
          }
        }
      }
    }
  }
}

.links__logout {
  &:hover {
    color: $color-danger !important;
    svg path {
      fill: $color-danger !important;
    }
  }
}

.visible {
  opacity: 1 !important;
}

$height-icon: 16px;
$width-line: (2 * $height-icon);
$height-line: ($height-icon / 6.25);

$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;
.collapsible {
  z-index: 100;
  &__menu-btn {
    z-index: 1000;
    cursor: pointer;
    width: $width-line;
    height: $height-icon;
    position: relative;
    display: block;
    z-index: 1000;
    // margin: ($height-icon * 2) auto $height-icon auto;

    .line {
      display: block;
      background: $color-primary;
      width: $width-line;
      height: $height-line;
      position: absolute;
      left: 0;
      border-radius: ($height-line / 2);
      transition: all $transition-time;
      -webkit-transition: all $transition-time;
      -moz-transition: all $transition-time;

      &.line-1 {
        top: 0;
      }
      &.line-2 {
        top: 50%;
      }
      &.line-3 {
        top: 100%;
      }
    }
    &:hover,
    &:focus {
      .line {
        background: $color-highlight;
      }
      .line-1 {
        transform: translateY($height-line / 2 * -1);
        -webkit-transform: translateY($height-line / 2 * -1);
        -moz-transform: translateY($height-line / 2 * -1);
      }
      .line-3 {
        transform: translateY($height-line / 2);
        -webkit-transform: translateY($height-line / 2);
        -moz-transform: translateY($height-line / 2);
      }
    }
    &.open {
      .line-1 {
        transform: translateY($translateY) translateX($translateX)
          rotate($rotation);
        -webkit-transform: translateY($translateY) translateX($translateX)
          rotate($rotation);
        -moz-transform: translateY($translateY) translateX($translateX)
          rotate($rotation);
        background-color: white;
      }
      .line-2 {
        opacity: 0;
      }
      .line-3 {
        transform: translateY($translateY * -1) translateX($translateX)
          rotate($rotation * -1);
        -webkit-transform: translateY($translateY * -1) translateX($translateX)
          rotate($rotation * -1);
        -moz-transform: translateY($translateY * -1) translateX($translateX)
          rotate($rotation * -1);
        background-color: white;
      }
      &:hover {
        .line-1,
        .line-3 {
          background-color: $color-highlight;
        }
      }
    }
  }
}

// h1 {
//   text-transform: uppercase;
// }
// a {
//   text-decoration: none;
//   color: #95a5a6;
//   margin: 0.5em 1.5em;
//   display: inline-block;
//   &:hover,
//   &:focus {
//     color: $color-primary;
//   }
// }

@media only screen and (max-width: 1024px) {
  // .mobile-menu {
  //   display: block;
  //   &__links {
  //     &__link {
  //       z-index: 200;
  //     }
  //   }
  // }
  .logo {
    // visibility: hidden;
  }
  nav {
    // ul {
    //   visibility: hidden;
    // }
    img {
      // width: 20px;
      height: 32px;
    }
    ul.collapsible__links {
      display: none;
      li {
        display: none;
      }
      // width: 200px;
      // li {
      //   font-size: 0.5rem;
      //   svg {
      //     width: 10px;
      //     height: 10px;
      //     margin-right: 5px;
      //   }
      // }
    }
  }
  $height-icon-res: 16px;
  $width-line-res: (2 * $height-icon-res);
  $height-line-res: ($height-icon-res / 6.25);
  $translateY-res: ($height-icon-res / 2);
  .collapsible__menu-btn {
    cursor: pointer;
    width: $width-line-res;
    height: $height-icon-res;
    position: relative;
    display: block;
    // margin: ($height-icon * 2) auto $height-icon auto;

    .line {
      display: block;
      background: $color-primary;
      width: $width-line-res;
      height: $height-line-res;
      position: absolute;
      left: 0;
      border-radius: ($height-line-res / 2);
      transition: all $transition-time;
      -webkit-transition: all $transition-time;
      -moz-transition: all $transition-time;

      &.line-1 {
        top: 0;
      }
      &.line-2 {
        top: 50%;
      }
      &.line-3 {
        top: 100%;
      }
    }
    &:hover,
    &:focus {
      .line {
        background: $color-highlight;
      }
      .line-1 {
        transform: translateY($height-line-res / 2 * -1);
        -webkit-transform: translateY($height-line-res / 2 * -1);
        -moz-transform: translateY($height-line-res / 2 * -1);
      }
      .line-3 {
        transform: translateY($height-line-res / 2);
        -webkit-transform: translateY($height-line-res / 2);
        -moz-transform: translateY($height-line-res / 2);
      }
    }
    &.open {
      .line-1 {
        transform: translateY($translateY-res) translateX($translateX)
          rotate($rotation);
        -webkit-transform: translateY($translateY-res) translateX($translateX)
          rotate($rotation);
        -moz-transform: translateY($translateY-res) translateX($translateX)
          rotate($rotation);
        // background-color: white;
      }
      .line-2 {
        opacity: 0;
      }
      .line-3 {
        transform: translateY($translateY-res * -1) translateX($translateX)
          rotate($rotation * -1);
        -webkit-transform: translateY($translateY-res * -1)
          translateX($translateX) rotate($rotation * -1);
        -moz-transform: translateY($translateY-res * -1) translateX($translateX)
          rotate($rotation * -1);
        // background-color: white;
      }
      // &:hover {
      //   .line-1,
      //   .line-3 {
      //     background-color: $color-highlight;
      //   }
      // }
    }
  }
}
