@import "../utilities/variables.scss";

.nav-pagination {
  // background-color: orange;
  // margin-top: 20px;
  // margin: 400px;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  // margin-top: 20px;
  .pagination {
    // margin-top: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    li {
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
      color: $color-primary;
      background-color: white;
      width: 40px;
      height: 40px;
      cursor: pointer;
      margin-right: 20px;
      border: solid $color-primary 1px;
      border-radius: 4px;
      // padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: darken(white, 10%);
      }
    }
  }
}

.page-selected {
  // font-weight: 700;
  // color: $color-highlight !important;
  // border: solid $color-highlight 1px !important;
  background-color: $color-highlight !important;
  color: white !important;
  border: solid white 1px !important;
  // .pagination {
  //   li {
  //     border: solid $color-highlight 1px;
  //   }
  // }
}
