@import "../utilities/variables.scss";

.search-field-bg {
  // position: relative;
  background: linear-gradient(180deg, $color-bg-1, $color-bg-2);
  border-radius: 0 0 42px 42px;
  transform: translateY(-125px);
  z-index: 5;
  // position: relative;
  padding-top: 120px;
  // &::before {
  //   content: "";
  //   background: linear-gradient(180deg, $bg-color-primary, $bg-color-secondary);
  //   border-radius: 0 0 42px 42px;
  //   width: 100vw;
  // }
  // &::before {
  //   content: "";
  //   background-color: yellow;
  //   color: red;
  //   font-weight: bold;
  //   display: block;
  //   margin: 0;
  //   padding: 0;
  //   // position: absolute;
  //   // top: 120px;
  //   // left: 0;
  //   // width: calc(100vw - );
  //   // width: 100vw;
  //   // height: 100px;
  //   transform: translateX(-17.5vw);
  // }
}
.search-field {
  margin: 0 auto;
  // width: 65vw;
  // z-index: -100;
}
.h1 {
  padding-top: 80px;
  color: $color-primary;
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 3rem;
  // color: red;
}
.h2 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1.25rem;
  &__company {
    color: $color-highlight;
    text-decoration: none;
    &:hover {
      color: darken($color-highlight, 10%);
    }
  }
}
.inputs {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transform: translateY(50%);
  &__description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    // padding: 20px;
    padding-left: 20px;
    background-color: white;
    width: calc(40vw - 110px);
    box-shadow: 4px 4px 59px #edeef4;
    &__img {
      width: 24px;
      height: 24px;
    }
    &__input {
      border: none;
      margin-left: 20px;
      width: calc(100% - 20px);
      height: 70px;
      &::placeholder {
        color: $color-placeholder;
        opacity: 0.75;
      }
      &:focus {
        outline: 0;
      }
    }
    &__clear {
      cursor: pointer;
      animation: none !important;
      -webkit-animation: none !important;
      -moz-animation: none !important;
      -o-animation: none !important;
      -ms-animation: none !important;
      pointer-events: none;
      transition: opacity 0.2s ease-in-out !important;
      opacity: 0;
      margin-right: 20px;
      path {
        transition: fill 0.2s ease-in-out;
        fill: $color-secondary;
      }
      &:hover {
        path {
          fill: $color-highlight;
        }
      }
    }
  }
  &__location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    padding-left: 20px;
    background-color: white;
    width: calc(40vw - 110px);
    box-shadow: 4px 4px 59px #edeef4;
    &__img {
      width: 24px;
      height: 24px;
    }
    &__input {
      border: none;
      margin-left: 20px;
      width: calc(100% - 20px);
      height: 70px;
      &::placeholder {
        color: $color-placeholder;
        opacity: 0.75;
      }
      &:focus {
        outline: 0;
      }
    }
    &__clear {
      cursor: pointer;
      animation: none !important;
      -webkit-animation: none !important;
      -moz-animation: none !important;
      -o-animation: none !important;
      -ms-animation: none !important;
      pointer-events: none;
      transition: opacity 0.2s ease-in-out !important;
      opacity: 0;
      margin-right: 20px;
      path {
        transition: fill 0.2s ease-in-out;
        fill: $color-secondary;
      }
      &:hover {
        path {
          fill: $color-highlight;
        }
      }
    }
  }
}

// .btn {
//   &--search {
//     background-color: $color-action;
//     color: white;
//     border: none;
//     font-weight: 500;
//     padding: 16px 32px;
//     border-radius: 8px;
//     &:hover {
//       cursor: pointer;
//       box-shadow: 4px 4px 24px #c9cad1;
//       background-color: $color-action;
//       border: none;
//     }
//   }
// }

@media only screen and (max-width: 1024px) {
  .search-field-bg {
    padding-top: 60px;
    // height: 10%;
  }
  .h1 {
    margin: 0;
  }
  .h2 {
    display: none;
  }
  .inputs {
    margin-top: -60px;
    // margin-top: 60px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: space-between;
    // width: 100%;
    // transform: translateY(0%);
    transform: translateY(calc(50% - 15px));
    &__description {
      // width: 100%;
      // width: calc(100% - 40px);
      width: calc(100% - 20px);
      // display: flex;
      // flex-direction: row;

      // align-items: center;
      // justify-content: flex-start;
      // border-radius: 4px;
      // padding: 20px;
      // background-color: white;
      // box-shadow: 4px 4px 59px #edeef4;
      &__img {
        width: 24px;
        height: 24px;
      }
      &__input {
        border: none;
        margin-left: 20px;
        width: calc(100% - 20px);
        &::placeholder {
          color: $color-placeholder;
          opacity: 0.75;
        }
        &:focus {
          outline: 0;
        }
      }
    }
    &__location {
      margin-top: 20px;
      // width: 100%;
      // width: calc(100% - 40px);
      width: calc(100% - 20px);
      //   display: flex;
      //   flex-direction: row;
      //   align-items: center;
      //   justify-content: flex-start;
      //   border-radius: 4px;
      //   padding: 20px;
      //   background-color: white;
      //   box-shadow: 4px 4px 59px #edeef4;
      //   &__img {
      //     width: 24px;
      //     height: 24px;
      //   }
      //   &__input {
      //     border: none;
      //     margin-left: 20px;
      //     width: calc(100% - 20px);
      //     &::placeholder {
      //       color: $color-placeholder;
      //       opacity: 0.75;
      //     }
      //     &:focus {
      //       outline: 0;
      //     }
      //   }
    }
  }
  .btn {
    &--search {
      // width: 100px;
      // padding: 0;
      // width: 100%;
      // margin-bottom: 20px;
    }
  }
}
