@import "../utilities/variables.scss";

.search-field-bg {
  // position: relative;
  background: linear-gradient(180deg, $color-bg-1, $color-bg-2);
  border-radius: 0 0 42px 42px;
  transform: translateY(-120px);
  z-index: 5;
  // position: relative;
  padding-top: 120px;
  // &::before {
  //   content: "";
  //   background: linear-gradient(180deg, $bg-color-primary, $bg-color-secondary);
  //   border-radius: 0 0 42px 42px;
  //   width: 100vw;
  // }
  // &::before {
  //   content: "";
  //   background-color: yellow;
  //   color: red;
  //   font-weight: bold;
  //   display: block;
  //   margin: 0;
  //   padding: 0;
  //   // position: absolute;
  //   // top: 120px;
  //   // left: 0;
  //   // width: calc(100vw - );
  //   // width: 100vw;
  //   // height: 100px;
  //   transform: translateX(-17.5vw);
  // }
}
.search-field {
  margin: 0 auto;
  // width: 65vw;
  // z-index: -100;
}
.h1 {
  padding-top: 80px;
  color: $color-primary;
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 3rem;
}
.h2 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1.25rem;
  &__company {
    color: $color-highlight;
    text-decoration: none;
    &:hover {
      color: darken($color-highlight, 10%);
    }
  }
}
.inputs {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transform: translateY(50%);
  &__description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
    width: 25vw;
    box-shadow: 4px 4px 59px #edeef4;
    &__img {
      width: 24px;
      height: 24px;
    }
    &__input {
      border: none;
      margin-left: 20px;
      width: calc(100% - 20px);
      &::placeholder {
        color: $color-placeholder;
        opacity: 0.75;
      }
      &:focus {
        outline: 0;
      }
    }
  }
  &__location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
    width: 25vw;
    box-shadow: 4px 4px 59px #edeef4;
    &__img {
      width: 24px;
      height: 24px;
    }
    &__input {
      border: none;
      margin-left: 20px;
      width: calc(100% - 20px);
      &::placeholder {
        color: $color-placeholder;
        opacity: 0.75;
      }
      &:focus {
        outline: 0;
      }
    }
  }
}

.btn {
  &--search {
    background-color: $color-action;
    color: white;
    border: none;
    font-weight: 500;
    padding: 16px 32px;
    border-radius: 8px;
    &:hover {
      cursor: pointer;
      box-shadow: 4px 4px 24px #c9cad1;
      background-color: $color-action;
      border: none;
    }
  }
}
